@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111117;
  --foreground: #ededed;
  --text-secondary: #4A4E69;
  --background-secondary: #1F2238; 
  --blue: #18A0FB;
  --pink: #EE46D3;
  --teal: #00C5DF;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}
